.App {
  text-align: center;
  background-color: #282c34;
  display: block;
}

.charts {
  background-color: #282c34;
  min-height: 100vh;
  font-size: 15px;
  color: white;
}

.label {
  text-anchor: middle;
  fill: white;
  font-size: 12px;
}

#lineGraphs,
#pieCharts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.tooltip {
  visibility: hidden;
}

.arc:hover .tooltip {
  visibility: visible;
}

.floating-label {
  font-size: 12px;
}

.line-path {
  stroke-width: 1.5px;
  stroke: #d6d6d8;
  fill: none;
}


.axis {
  stroke: #d6d6d8;
}

.axis-labels text {
  fill: #a8a8ff;
  font-size: 9px;
  text-anchor: middle;
}

.axis-labels line {
  stroke: #d6d6d8;
}

.graph-lines {
  opacity: .2;
}

.legend {
  // text-align: left;
  // max-width: 775px;
  // margin: 0 auto;
  padding-left: 10px;
  height: 29px;

  .close,
  .high,
  .low,
  .open {
    height: 10px;
    width: 10px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    // vertical-align: middle;
  }

  span {
    font-size: 13px;
    vertical-align: middle;
  }
}

.open {
  background-color: #95eaf1;
}

.high {
  background-color: #ef6e8d;
}

.close {
  background-color: #ff3c3c;
}

.low {
  background-color: #a8a8ff;
}

.high,
.low,
.open {
  + span {
    padding-right: 13px;
  }
}

// .meta {
//   align-self: center;

//   h2 {
//     font-size: 24px;
//     margin: 35px 0 10px;
//   }

//   p {
//     font-size: 14px;
//     // margin: 5px;
//   }
// }

.hover-holder {
  position: absolute;
  padding: 13px;
  background-color: #ef6e8d;
  border-radius: 8px;
  border: 1px solid white;

  span {
    font-size: 13px;
    display: block;
    text-align: left;
    color: black;

    &:first-of-type {
      padding-bottom: 4px;
    }
  }
}

// .line-filters {
//   // float: left;
//   // padding-left: 9.5%;
//   // &:after {
//   // 	content: "";
//   // 	display: table;
//   // 	clear: both;
//   // }
//   max-width: 900px;
//   text-align: left;
//   margin: 0 auto;

//   label {
//     font-size: 13px;
//     padding-left: 20px;

//     &:first-of-type {
//       padding-left: 10px;
//     }
//   }
// }

// .svg-holder {
//   // max-width: 900px;
//   // margin: 0 auto;
//   // position: relative;
//   svg {
//     margin: 0 auto;
//     max-width: 948px;
//   }

//   circle {
//     cursor: pointer;
//     z-index: 9;
//     opacity: 0;

//     &:hover {
//       opacity: .8;
//     }
//   }
// }

// .error {
//   max-width: 900px;
//   padding-top: 21%;
//   margin: 0 auto;
// }

.select-holder {
  width: 350px;
  // margin: 30px auto;
  // text-align: left;
  input {
    color: #ef6e8d !important;
  }

  // span {
  //   // padding-bottom: 10px;
  //   display: block;
  //   text-align: left;

  //   &:first-of-type {
  //     margin-top: 15px;
  //     padding-bottom: 5px;
  //   }
  // }
}

.select-input__single-value {
  color: #ef6e8d !important;
  // font-weight: bold;
  background-color: #282c34;
}

.select-input__control {
  // svg {
  //   fill: blue;
  // }
  .select-input__dropdown-indicator {
    color: white;
  }
}

.select-input {
  &__indicator-separator {
    display: none;
  }

  &__control {
    cursor: pointer !important;
  }

  &__control--is-focused {
    .select-input__dropdown-indicator {
      color: rgb(239, 110, 141);
    }
  }

  &__control--menu-is-open {
    .select-input__dropdown-indicator {
      transform: rotate(180deg);
    }
  }

  &__menu-list::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }

  &__menu-list::-webkit-scrollbar-track {
    background: #282c34;
    box-shadow: inset 0 0 1px #95eaf1;
  }

  &__menu-list::-webkit-scrollbar-thumb {
    background: #95eaf1;
    border-radius: 3px;
  }

  &__menu-list::-webkit-scrollbar-thumb:hover {
    background: rgb(239, 110, 141);
  }

}

// .loading-spinner {
//   margin-top: 100px;
// }

// .flex-holder {
//   display: flex;
//   justify-content: space-around;
//   max-width: 1178px;
//   margin: 0 auto;
//   padding: 30px 0;
// }

.crypto-select {
  padding-top: 20px;
}

