.App {
  text-align: center;
}

.charts {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.label {
  text-anchor: middle;
  fill: white;
  font-size: 12px;
}

#lineGraphs,
#pieCharts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.tooltip {
  visibility: hidden;
}

.arc:hover .tooltip {
  visibility: visible;
}

.floating-label {
  font-size: 12px;
}

.line-path {
  stroke-width: 1.5px;
  stroke: #d6d6d8;
  fill: none;
}

.path {
  stroke-width: 1.5px;
  fill: none;
}

.axis {
  stroke: #d6d6d8;
}

.axis-labels text {
  fill: #a8a8ff;
  font-size: 9px;
  text-anchor: middle;
}

.axis-labels line {
  stroke: #d6d6d8;
}

.graph-lines {
  opacity: .2;
}

.legend {
  text-align: left;
  max-width: 775px;
  margin: 0 auto;

  .high,
  .low {
    height: 15px;
    width: 15px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
  }

  span {
    font-size: 13px;
    vertical-align: middle;
  }
}

.high {
  background-color: #ef6e8d;

  + span {
    padding-right: 20px;
  }
}

.low {
  background-color: #a8a8ff;
}

.meta {
  h2 {
    font-size: 24px;
    margin: 35px 0 10px;
  }

  p {
    font-size: 18px;
    margin: 5px;
  }
}
