@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url("https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url("https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.App {
  text-align: center;
  background-color: #282c34;
  display: block;

  h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }

  button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

}

.charts {
  background-color: #282c34;
  // min-height: 100vh;
  font-size: 15px;
  color: white;
}

.label {
  text-anchor: middle;
  fill: white;
  font-size: 12px;
}

#lineGraphs,
#pieCharts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.tooltip {
  visibility: hidden;
}

.arc:hover .tooltip {
  visibility: visible;
}

.floating-label {
  font-size: 12px;
}

.line-path {
  stroke-width: 1.5px;
  stroke: #d6d6d8;
  fill: none;
}

.axis {
  stroke: #d6d6d8;
}

.axis-labels text {
  fill: #a8a8ff;
  font-size: 9px;
  text-anchor: middle;
}

.axis-labels line {
  stroke: #d6d6d8;
}

.graph-lines {
  opacity: .2;
}

.legend {
  // text-align: left;
  // max-width: 775px;
  // margin: 0 auto;
  // padding-left: 10px;
  height: 29px;

  .close,
  .high,
  .low,
  .open {
    height: 10px;
    width: 10px;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    // vertical-align: middle;
  }

  span {
    font-size: 13px;
    vertical-align: middle;
  }
}

.open {
  background-color: #95eaf1;
}

.high {
  background-color: #ef6e8d;
}

.close {
  background-color: #ff3c3c;
}

.low {
  background-color: #a8a8ff;
}

.high,
.low,
.open {
  + span {
    padding-right: 13px;
  }
}

.hover-holder {
  position: absolute;
  padding: 13px;
  background-color: #ef6e8d;
  border-radius: 8px;
  border: 1px solid white;
  z-index: 999;

  span {
    font-size: 13px;
    display: block;
    text-align: left;
    color: black;

    &:first-of-type {
      padding-bottom: 4px;
    }
  }
}

.select-input__single-value {
  color: #ef6e8d !important;
  // font-weight: bold;
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.select-input__control {
  // svg {
  //   fill: blue;
  // }
  .select-input__dropdown-indicator {
    color: white;
  }
}

.select-input {
  &__indicator-separator {
    display: none;
  }

  &__option {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }

  &__control--is-focused {
    .select-input__dropdown-indicator {
      color: rgb(239, 110, 141);
    }
  }

  &__control--menu-is-open {
    .select-input__dropdown-indicator {
      transform: rotate(180deg);
    }
  }

  &__menu-list::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }

  &__menu-list::-webkit-scrollbar-track {
    background: #282c34;
    box-shadow: inset 0 0 1px #95eaf1;
  }

  &__menu-list::-webkit-scrollbar-thumb {
    background: #95eaf1;
    border-radius: 3px;
  }

  &__menu-list::-webkit-scrollbar-thumb:hover {
    background: rgb(239, 110, 141);
  }

}
